<div  class="homepage" id="home">
  <app-navbar></app-navbar>
  <div class="container" style="max-width: 1200px;margin: auto;">
      <div style="padding-top: 50px;max-width: 1000px;">
        <h1 >Unveiling the Culinary Soul of Kota Kasi</h1>
      </div>
      <div style="padding-top: 20px;padding-right: 20px;">
        <p style="color: #fff;max-width: 650px; font-size: 15px;font-family: Work Sans,sans-serif;line-height: 1.9; ">Indulge in a captivating culinary experience that transports you to the heart of traditional flavors 
          and modern gastronomy. Nestled in the heart of [City Name], Kota Kasi Restaurant is a haven for food enthusiasts seeking a symphony of taste, culture, and innovation.</p>
      </div>
  </div>
</div>
<!-- <app-about></app-about> -->
<div class="more-description" style="min-height: 60vh;">
  <!-- <h1 style="text-align: center;align-items: center;padding-top:400px ;color: #fff;">Content</h1> -->
  <!-- <app-Materials></app-Materials> -->
  <app-pupular-menus></app-pupular-menus>
</div>
<app-ourmission></app-ourmission>
<!-- <app-slider></app-slider> -->

<!-- <app-image-slider></app-image-slider> -->

<!-- <app-footer></app-footer> -->
<!-- <app-contact></app-contact> -->
<div style="background-color: black;padding: 20px;">

  <p style="text-align: center;color: #fff;">Copyright © 2022 Kotaking. All Rights Reserved.</p>

</div>