.homepage{
        min-height: 85vh;
        /* background-image: url('src/assets/background/bg2.jpg'); */
        /* background-image: linear-gradient(to bottom, rgb(255, 119, 0), rgba(238, 159, 2, 0.95)); */
        background-image: linear-gradient(to bottom, rgba(244, 209, 10, 0.50), rgba(238, 159, 2, 0.95)), url('src/assets/background/8.jpg');


        background-size: cover;
}
.container{
        padding-left: 60px;
        padding-top: 200px;
}
.container h1{
        color: #fff;
        font-size: 70px;
        /* font-size: 4vh; */

}

.more-description{
        min-height: 80vh;
        /* background-image: url('/assets/background/bg3.jpg'); */
        background-size: cover;
        /* background-image: linear-gradient(to bottom, rgba(244, 209, 10, 0.95), rgba(238, 159, 2, 0.95)), url('src/assets/background/1.png'); */
        background-image: linear-gradient(to bottom, rgba(244, 209, 10, 0.95), rgba(238, 159, 2, 0.95));

        background-position: fixed;
        padding:20px

}

@media screen and (max-width: 896px) {
        .container{
                /* padding: 30px; */
                padding-left: 20px;
                padding-right: 30px;
                padding-top: 0px;
        }
        .container h1{
                font-size: 55px;
        }
}
@media screen and (max-width: 388px) {
        .container h1{
                font-size: 47px;
        }
}