<div style="height:90px;width: 100%;max-width: 1400px;margin: auto;">
  <nav class="navbar" style="padding-left: 20px;padding-right: 20px;">
    <!-- LOGO -->
    <div class="logo">
        <h1 style="font-weight: 600;color: #fff;font-size: 35px;">#KotaKing</h1>
        <!-- <img src="assets/LOGO/5.png"> -->
        <div style="max-width: 150px;max-height: 140px; margin: auto;" >
          <!-- <img src="assets/logo/logo.png" style="width: 100%;"> -->
        </div>
    </div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
            <li (click)="goHome()" ><a class="navlinks">Home</a></li>
            <li (click)="goDown1()"> <a class="navlinks">Regular</a></li>
            <li (click)="goDown2()"><a class="navlinks" > Menus</a></li>
            <li (click)="goDown4()"><a class="navlinks" >Our Team</a></li>
            <li (click)="goDown3()"><a class="navlinks" >Events</a></li>

            <!-- <li ><a class="navlinks" >Contact</a></li> -->
        </div>
    </ul>
  </nav>
</div>